.Car {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #f7b731;
  transition-property: top, left;
  transition-timing-function: linear;
}

.Car-text {
  width: 100%;
  height: 100%;
  line-height: 20px;
  color: bleak;
}
